.container {
  font-family: Verdana, Geneva, sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

input {
  font-size: 12px;
}

h1 {
  color: #e6f2ff;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#map {
  bottom: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
}

.options-box {
  color: white;
  position: relative;
  background: black;
  height: 100%;
  line-height: 25px;
  text-align: left;
  width: 250px;
}

#placeList {
  display: block;
  height: 150px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

#searchBar {
  margin: 0px;
  background-color: #fff;
  width: 90%;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-radius: 2px 2px 2px 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#details {
  position: relative;
  margin: 0px;
  background-color: #fff;
}

.fs-photo {
  display: inline;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  #placeList {
    display: block;
    height: 100px;
    overflow-y: scroll;
    padding-bottom: 20px;
  }

  .fs-photo {
    display: inline;
    margin: 5px;
  };
}
